@import 'variables.scss';

.communication {
  padding: 50px 15px;

  &__content-text {}

  &__subtitle {
    font-weight: 700;
    line-height: 34px;
    font-size: 22px;
    color: $communication-subtitle-text-color;
  }

  &__title {
    margin: 17px 0 18px;
    font-weight: 700;
    line-height: 40px;
    font-size: 40px;
    letter-spacing: -0.357143px;
    color: $text-color-dark;
  }

  &__description {
    margin: 0;
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
    color: $text-color-dark;
    
  }

  &__button {
    margin-bottom: 40px;
  }

  &__scene {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__image {
    max-width: 100%;

    &-text {
      margin-top: 17px;
      line-height: 22px;
      font-size: 14px;
      color: $text-color-dark-grey;
    }
  }

  &__line {
    width: 150px;
    margin-top: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__main-text {
    margin-top: 33px;
    line-height: 26px;
    font-size: 18px;
    color: $text-color-dark;
  }

  &__main-conten_click {
    font-weight: 700;
    color: $text-color-blue;
  }
}