
@import 'variables.scss';

.action__button {
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: $bold-type;
  background-color: $action-background-color;
  color: $text-color-white;
  border: 0;
  border-radius: 2px;
}

.hide_desctop {
  @include for-large-up {
    display: none;
  }
}

.hide_mobile {
  @include for-large-down {
    display: none;
  }
}