
$about-background-color: #F4F5F7;
$color-black: #000000;
$button-color-white: #FFFFFF;
$user-card-hover: #3141C5;
$action-background-color: #3040C4;
$header-background-color: #F3C6BD;
$header-background-color-mobile: #FFFFFF;
$audience-background-color: rgba(0, 161, 198, 0.07);
$communication-background-color: #F2F2F2;

$communication-subtitle-text-color: #0189D1;
$text-button-color-blue: #3040C4;
$text-color-white: #FFFFFF;
$text-color-dark: #2B292D;
$text-color-green: #009B4D;
$text-color-blue: #3142C6;
$text-color-dark-grey:  rgba(43, 41, 45, 0.6);

$border-color-light: #E3E3E3;
$border-color-blue: #3142C6;
$border-color-light-grey: #2B292D26;
$border-color-dark: #2B292D;
$border-color-grey: #00000026;
$border-color-middle-grey: rgba(43, 41, 45, 0.2);

$bold-type: 700;
